@import url('https://fonts.googleapis.com/css2?family= Raleway :ital,wght@0,600;1,400 & display=swap');

body{
    margin: 0;
    padding: 0;
    font-family:'noto sain' sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.imagem{
    width: 35vw
}


.rigth-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2c1a0b;
    border-radius: 16px;
    box-shadow: 0 10px 40px #00000056;
}

.card-login > h1{
    font-size: 50px;
    font-weight: 800;
    color: #00ff88;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 16px;
    padding: 15px;
    background: #6B4226;
    color: antiquewhite;
    box-shadow: 0 40px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color:antiquewhite;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f5f5dc;
}

.entrar-login{
    width: 100%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #6B4226;
    background: #A68064;
    cursor: pointer;
    box-shadow: 0 10px 30px #000000;
    
}


@media only screen and (max-width:950px){
    .card-login{
        width: 85px;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .rigth-login{
        width: 100%;
        height: auto;
    }

    .imagem{
        width: 40vh;
    }

    .card-login{
        width: 90%;
    }
}








    